<mat-dialog-content>
  <div style="float: right;">
    <mat-icon style="cursor: pointer;" mat-dialog-close mat-raised-button i18n>close</mat-icon>
  </div>
  <h2 class="text-bold">Add Competency</h2>
  <div class="fixTableHead">
    <mat-form-field appearance="fill" style="width: 80%">
      <mat-select [(ngModel)]="proficiency" placeholder="Select Proficiency"
        (selectionChange)="eventSelection($event.value)">
        <mat-option *ngFor="let list of proficiencyList" [value]="list">
          {{ list.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="fixTableHead">
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectLevel" placeholder="Select Level" (selectionChange)="listSelection($event.value)">
        <mat-option *ngFor="let list of levelList" [value]="list">
          {{ list.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="">
    <!-- <div style="float: left;">
      <button mat-raised-button i18n class="margin-top-s save-btn-mt send-to-creator-link" (click)="moveCourseToDraft()"
        color="#1C5D95" i18n>
        Send to Creator’s draft
      </button>
    </div> -->
    <div style="margin-bottom: 10px;">
      <!-- <button i18n class="refresh-button" id="refresh" (click)="refreshCourse()">
        <mat-icon style="margin-top: 4px;">refresh</mat-icon>
      </button> -->
      <button mat-raised-button (click)="addCompetency(proficiency, selectLevel, false)">
        Cancel
      </button>
      <button class="" style="margin-left: 10px;" (click)="addCompetency(proficiency, selectLevel, true)"
        mat-raised-button [disabled]="!(proficiency?.id && selectLevel?.value)">
        Ok
      </button>
    </div>
  </div>
</mat-dialog-content>